/*
  User: J. Verbruggen
  Date: 13/04/2022
  File: stylesheet.css
*/
/*alegemeen*/
*
{
  margin: 0;
  padding: 0;
}

$white: #FFFFFF;
$black: #000000;
$nav: #808080;
$logoLicht: #978D58;
$logoDonker: #03051E;

/*NAV*/
.navbar
{
  background-color: #03051E;
  color: $white;
}

/*SLIDER*/
$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg:  $black;
$carousel-dark-caption-color:        $black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);

// newsitems
.news
{
  background-color: $logoLicht;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.newArticle
{
  margin: 1vw;
}

.newsTitle
{
  color: $logoDonker;
}

.newsImage
{
  width: 100%;
}

#newsdate
{
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-weight: bold;
}

/*tablet en desktop*/
@media only screen and (min-device-width: 840px) and (max-device-width: 999999px)
{
  // .newArticle
  // {
  //   display: block;
  // }

  // .newsImage
  // {
  //   width: 10vw;
  // }

  // #newsText
  // {
  //   width: 20vw;
  // }
  .news
  {
    position: relative;
    overflow: hidden;
    margin-top: 1%;
    width: 98%;
    left: 1vw;
  }

  .newsImage
  {
    float: left;
    width: 15vw;
    margin-right: 1vw;
  }

  .newsText
  {
    float: left;
    padding: 1%;
    width: 80vw;
    height: 15vw;
  }

  #tussen
  {
    float: left;
    height: 100%;
    width: 1%;
  }

  .newsTitle
  {
    position: relative;
  }

  #newsdate
  {
    position: relative;
    text-align: center;
    width: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: bold;
  }
}

// ALGEMENE INFORMATIE
#overOns
{
  position: relative;
  margin: 1vw;
  width: 50vw;
  margin-bottom: 15%;
}

/*tablet*/
@media only screen and (min-device-width: 840px) and (max-device-width: 1180px)
{
  #overOns
  {
    margin-bottom: 32%;
  }
}


/*Desktop*/
@media only screen and (min-device-width: 1200px) and (max-device-width: 999999px)
{
  #overOns
  {
    margin-bottom: 20%;
  }
}

//OVERZICHT
.overzichtsVeld
{
  width: 100vw;
  background-color: $logoLicht;
}
hr 
{
  width: 40.8vw;
}

.vak
{
  width: 85%;
  margin-left: 5%;
  border: 8px solid #000000;
  background-color: $logoDonker;
}
    
.image
{
  height: 80vw;
}   

.vak > p
{
  font-size: 4vw;
}

.titel
{
    color: $white;
}

/*tablet*/
@media only screen and (min-device-width: 840px) and (max-device-width: 999999px)
{
  .overzichtsVeld
  {
      position: relative;
      overflow: hidden;
      background-color: $logoLicht;
      width: 100%;
      margin-bottom: 2vw;
  }

  .vak > p
  {
    font-size: 1vw;
  }

  .vak
  {
      float: left;
      border: 8px solid #000000;
      width: 18%;
      background-color: $logoDonker;
      margin-top: 1%;
      margin-bottom: 1%;
      margin-left: 4.5%;
  }

  .image
  {
      position: relative;
      height: 10%;
      width: 100%;
  }

  .titel
  {
      color: $logoDonker;
      text-align: center;
      padding-bottom: 0.5%;
      color: $white;
  }

  hr 
  {
      position: relative;
      border: none;
      color: $white;
      height: 8px;
      left: -1px;
      top: -5px;
      width: 13.8vw;
  }
  .vakTitel
  {
      position: relative;
      left: 4.5%;
      color: $logoDonker;
  }
}

//form
form
{
  padding-bottom: 1vw;
  background-color: $logoLicht;
  padding-top: 1vw;
  margin-bottom: 90vw;
}

/*tablet*/
@media only screen and (min-device-width: 840px) and (max-device-width: 1180px)
{
  form
  {
    margin-bottom: 23vw;
  }
}


/*Desktop*/
@media only screen and (min-device-width: 1200px) and (max-device-width: 999999px)
{
  form
  {
    margin-bottom: 10vw;
  }
}

//footer
#footer
{
  background-color: $logoDonker;
  color: $white;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

/* media query's */

/*telefoon*/
//@media only screen and (min-device-width: 0px) and (max-device-width: 820px)

/*tablet*/
//@media only screen and (min-device-width: 840px) and (max-device-width: 1180px)

/*Desktop*/
//@media only screen and (min-device-width: 1200px) and (max-device-width: 999999px)